{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion":"module",
        "ecmaFeatures":{
            "jsx":true
        }
    },
    "rules": {
        "import/no-unresolved": "off",
        "import/extensions": "off"
    }
}